---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1 style="text-align: center;">Page not found</h1>

    <p style="text-align: center;">the page you are looking for doesnt exist</p>
    <p style="text-align: center;">go <a href="/" style="text-decoration: none;">home</a></p>
</BaseLayout>
