---
import BaseLayout from "../layouts/BaseLayout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
const allPosts = await Astro.glob("./blogs/*.md");
---

<BaseLayout pageTitle="Blogs">
    <Breadcrumb />
    <p>Check out my Blogs!</p>
    <div style="margin-left: 35px;">
        {
            allPosts.map((post) => (
                <li>
                    <a href={post.url} style="text-decoration: none;">
                        {post.frontmatter.title}
                        <p style="color: black; font-style: italic;">
                            {post.frontmatter.description}
                        </p>
                    </a>
                </li>
            ))
        }
    </div>
</BaseLayout>
