---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact">
    <p>
        <a href="/" style="text-decoration: none;">Home</a> &gt; <a
            href="#"
            style="text-decoration: none;">Contact</a
        >
    </p>

    <h1 style="text-align: center;">Contact</h1>
    <hr style="width: 75%;" />
    <div style="margin-left: 10%; margin-top: 2%;">
        <p>
            <a href="https://github.com/gov1nd-afk">Github</a> - All my repositories
        </p><p>
            <a href="mailto:govindsanal08@gmail.com">Email</a> - Reach out to me
            via email
        </p><p>
            <a href="https://www.linkedin.com/in/govindsanal/">Linkedin</a> - My
            linkedin profile
        </p>
    </div>
</BaseLayout>
