---
---

<style>
    #parent {
        width: 100%;
        background-color: #c9c9c9;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
</style>

<div id="parent">
    &#169; Govind S
</div>
